.Cart
{
position: fixed;
width: 90%;
height: 45rem;
background-color: #3a3a3a;
bottom: 20rem;
margin-left: 5%;
margin-right: 5%;
border-radius: 25rem;
display: flex ;
z-index: 999;
}

.img
{
width: 40rem;
height: 60rem;
background-color: #c69c6d;
flex: 0.8;
/*  */
position: relative;
top: -10rem;
}

.totalPrice
{
    flex: 3;
    font-size: 20rem;
    font-weight: 600;
    color: #fff;
    margin: 0;
    margin-left: 20rem;
    line-height: 56rem;
    height: 100%;
}
.totalAmount
{
 
    font-size: 18rem;
    font-weight: 600;
    display: block;
    width: 23rem;
    height: 23rem;
    background-color:#941e1d; 
    border-radius: 10rem;
    color: #fff;
    position: absolute;
    right: -6rem;
    top: -6rem;
    text-align: center;
    
}
.button{

width: 110rem;
height: 100%;
background-color: #f9bc00;
flex: 1.5;
border: 0;
border-radius: 25rem;
font-size: 18rem;
font-weight: 600;
}

.noMeal
{
    font-size: 23rem;
    color: #818183;
    flex: 3;
    font-weight: 600;
    margin: 0;
    margin-left: 20rem;
    line-height: 45rem;
    height: 100%;
}
.disable
{
    background-color: #777;
    color: #ccc;
    
}