.Counter
{
    display: flex;
    align-items: center;
}
.buttonless
{
width: 21rem;
height: 21rem;
border-radius: 13rem;
font-weight: 700;
border: 1px solid #000;
font-size: 13rem;
background-color: #fff;
margin-right: 9rem;
}
.buttonadd
{
    width: 22rem;
    height: 22rem;
    border-radius: 13rem;
    font-weight: 600;
    border: 0;
    font-size: 18rem;
    background-color: #f8bb00;
margin-left: 8rem;

}